html {
    background-image: url("https://dreams.metroeve.com/wp-content/uploads/2016/12/dreams.metroeve_soap-dreams-meaning.jpg");
    font-family: sans-serif;
}

#buySoapBox {
    width: 10%;
    height: 75px;
    border: solid 3px black;
    border-radius: 3px;
    padding: 1%;
    background-color: #999;
    text-align: center;
    float: left;
    margin: 1%;
    display: inline-block;
}

#buySoapButton {
    border: solid 2px black;
    border-radius: 2px;
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 2%;
    background-color: #DDD;
    text-align: center;
}

#sellSoapBox {
    width: 10%;
    height: 75px;
    border: solid 3px black;
    border-radius: 3px;
    padding: 1%;
    background-color: #999;
    text-align: center;
    display: inline-block;
    float: left;
    margin: 1%;
}

#sellSoapButton {
    border: solid 2px black;
    border-radius: 2px;
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 2%;
    background-color: #DDD;
    text-align: center;
}

#lowerSoapCost {
    display: inline;
}

#raiseSoapCost {
    display: inline;
}

#sellSoapCost {
    display: inline;
}