html {
    background-image: url("https://dreams.metroeve.com/wp-content/uploads/2016/12/dreams.metroeve_soap-dreams-meaning.jpg");
    font-family: sans-serif;
}

#soaptitle {
    display: inline-block;
}

#buySoapBox {
    width: 10%;
    height: 5%;
    border: solid 3px black;
    border-radius: 3px;
    padding: 0.5%;
    background-color: grey;
    text-align: center;
    display: inline-block;
}

#buySoapButton {
    border: solid 2px black;
    background-color: lightgrey;
    border-radius: 2px;
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 2%;
    text-align: center;
}

#sellSoapBox {
    width: 10%;
    height: 5%;
    border: solid 3px black;
    border-radius: 3px;
    padding: 0.5%;
    background-color: grey;
    text-align: center;
    display: inline-block;
}

#sellSoapButton {
    border: solid 2px black;
    background-color: lightgrey;
    border-radius: 2px;
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 2%;
    text-align: center;
}

#statsbox {
    width: 10%;
    height: 600px;
    border: solid 3px black;
    border-radius: 3px;
    padding: 0.5%;
    background-color: grey;
    float: right;
    display: inline-block;
}

#soapAmount {
    font-weight: bold;
}

#moneyAmount {
    font-weight: bold;
}
