html {
    background-image: url("https://dreams.metroeve.com/wp-content/uploads/2016/12/dreams.metroeve_soap-dreams-meaning.jpg");
    font-family: sans-serif;
}

#buySoapBox {
    width: 20%;
    height: 5%;
    border: solid 3px black;
    border-radius: 3px;
    padding: 1%; 
    background-color: #DDDDDD;
    font-align: center;
}

#buySoapButton {
    border: solid 2px black;
    border-radius: 2px;
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 2%;
    font-align: center;
}
